#register {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.registerWrapper form {
    display: flex;
    flex-direction: column;
    row-gap: 1.15rem;
    text-align: center;
}

.registerWrapper {
    width: 30%;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.registerWrapper::before {
    content: '';
    position: absolute;
    z-index: -2;
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    background-color: #BFE2FF;
    background-repeat: no-repeat;
    background-size: 50% 50%, 50% 50%;
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    background-image: linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#337AB7, #337AB7), linear-gradient(#BFE2FF, #BFE2FF), linear-gradient(#337AB7, #337AB7);
    animation: anim-ramka-5 4s linear infinite;
}

.registerWrapper::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: 6px;
    top: 6px;
    width: calc(100% - 12px);
    height: calc(100% - 12px);
    background: white;
    border-radius: 5px;
}

@keyframes anim-ramka-5 {
    100% {
        transform: rotate(1turn);
    }
}