.box img {
    width: 100%;
    border-radius: 0% 100% 0% 100% / 80% 20% 80% 20%;
}

.box {
    padding: 20px;
    border: 2px solid black;
    background: rgb(63, 94, 251);
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    border-radius: 91% 9% 93% 7% / 7% 90% 10% 93%;
}

.box p {
    font-size: 13px;
    color: white;
    font-weight: bold;
}