#login {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    position: relative;
    margin-right: 15%;
}

.videoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.backgroundVideo {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.loginWrapper {
    position: relative;
    z-index: 1;
    border-radius: 20px;
    padding: 30px;
    background-color: rgba(32, 32, 33, 0.79);
}

.headerWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.headerWrapper img {
    width: 50%;
}

.underHeader{
    text-align: center;
    font-size: 10px;
    color: rgba(175, 175, 175, 0.65);
}


